<div class:list={["w-full"]}>
  <p>
    <b>Disclaimer</b> This is a curated list of links. I'm not responsible for the
    content of external websites and of course I don't take any credit for any of
    the resources linked here.
    <br />
    The web is great and full of interesting content. Make sure to explore and discover
    new ideas!
  </p>
</div>
